
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 75%;
}

.navbar {
  background-color: #673ab7;
  color: #fff;
  padding: 30px;
}

.logo {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

img {
  width: 80px;
}

.div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-carringho {
  display: flex;
  align-items: center;
}
.img-carrinho {
  width: 40px;
}
