.navbar {
  background-color: #673ab7;
  color: #fff;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.tabs {
  width: 70%;
  margin: 20px auto;
}
